@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.App {
  text-align: center;
}
button a:hover,
button a:visited,
button a:active,
button a:link {
  color: white;
}


.categories {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.searchbar,
.row-cols-md-3 {
  margin: 1em;
}

.btn-primary {
  background-color: #0E53A7;
  font-family: 'Fredoka One';
}

.categories button {
  margin: 1em;
  width: 12em;
}

.row a {
  text-decoration: none;
}


