@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.App {
  text-align: center;
}

button a:hover,
button a:active,
button a:link {
  color: white;
}

button a:visited {
  color: #FFBE4A
}
.categories {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap:wrap
}

.searchbar,
.row-cols-md-3 {
  margin: 1em;
}

.btn-primary {
  background-color: #5930c9;
  font-family: 'Fredoka One';
}

.categories button {
  margin: 0.5em;
  width: 10em;
}

.body-width{
  max-width: 800px;
  margin: auto;
}

.row a {
  text-decoration: none;
}
.hor-ver-2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  
}

.hor-ver-2 p{
  max-width: 350px;
  margin: 1em;
}

.modal-lg, .modal-xl {
  max-width: 800px;
}

@media only screen and (max-width: 600px) { 

  .modal-lg, .modal-xl {
    max-width: 350px;
}
body{
  margin:0
}

.categories button {
  margin: 1em;
  width: 6em;
  font-size: small;
}


}


footer {
  background-color: #362B48;
  color: #B0A8BA;
}

