@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&family=Varela+Round&display=swap');

.App {
  text-align: center;
}

button a:hover,
button a:active,
button a:link {
  color: white;
}


button a:visited {
  color: #365281
}
.categories {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap:wrap
}

.searchbar,
.row-cols-md-3 {
  margin: 1em;
  position: relative
}

.searchbar img {
  position: absolute;
  top: 5px;
  right: 30px;
}

.btn-primary {
  font-family: 'Varela Round', sans-serif;
  border-style: none;
  margin:0 0.5em;
  background-color: #84B5C2;
}

.btn-primary:hover{
  background-color: #335C67;
}

.categories button {
  margin: 0.5em;
  width: 10em;
  font-size: 1em;
  font: 'Varela Round', sans-serif;
  border-style: none;
}

.body-width{
  max-width: 800px;
  margin: auto;
}

.row a {
  text-decoration: none;
}
.navbar-item {
  font-size: 1em;
  font: 'Varela Round', sans-serif;
  color:#365281;}

  .navbar-item:hover {
    color:#5192A4;}
  

.hor-ver-2{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}


.hor-ver-2 p{
  font-size: 2em; 
  padding: 0 0.4em;
  margin: 1em;
  max-width: 350px;
  text-align: center;
  font-family: 'Fredoka One', cursive;

}

.modal-img{
  width: 270px;
  margin: 0 auto;
}

.modal-lg, .modal-xl {
  max-width: 800px;
}

.small-image {
  width: 200px;
}
.contained-modal-title-vcenter h2{
  font: 'Varela Round', sans-serif;;
  }

@media only screen and (max-width: 600px) { 
  .modal-lg, .modal-xl {
    max-width: 350px;
}
.modal-img{
  width: 210px;
}
.google-book-card h5{
  font-size: 0.5em;
}

.google-book-card img{
  max-width: 7em;
}
.google-book-card .col{
  width: 7em;
  margin: 0;
}
.google-book-card .card{
  width: 7em;
  margin: 0.3em 0;
}
.book-details{
  display: flex;
  flex-direction: column;
}


.hor-ver-2{
  font-size: 1em; 
  padding: 0 0.4em;
  margin: 0;
justify-content: space-between;
}


body{
  margin:0;
  font:'Roboto', sans-serif;
}

.categories button {
  margin: 1em;
  width: 7em;
  font-size: 0.7em;
}
}

footer {
  background-color: #F6F3DF;
  color: #5C2751
}

h1 {
  font: 'Varela Round', sans-serif;
  color: #335C67
}

.logo span, .cl-2 {
  color: #5C2751
}


.cl-1 {
  color: #335C67; 
}

a:hover,a:visited,a:active,a:link {
  text-decoration: none;
}

.col-xl-8 h3{
  font-size: 2em; 
}

.logo {
  
  color: #335C67; 
  font-size: 3em; 
  text-align: center;
  font-family: 'Fredoka One', cursive;
  animation: bounce; 
  animation-duration: 2s; 
  text-decoration: none;
  }
  @keyframes bounce{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(2em); }
    100% { transform: translateY(0); }
  }


h3 {
  font-family: 'Fredoka One', cursive;
  color: #B0A8BA
}

.div-right {
  margin: 1em;
  padding: 1em;
  text-align: end;
  background-color: rgb(168, 220, 233);
}

.message-form {
  margin: 0.6em;
  padding: 0.6em;
  text-align: end
}

.div-left {
  background-color: #eeeeee;
  margin: 1em;
  padding: 1em;
  text-align: start;
}

.google-book-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.google-book-card img{
  max-width: 15em;
}
.google-book-card h5{
  font-size: 1.2em;
  margin: 0.2em 0;
}

.google-book-card .col{
  max-width: 15em;
  margin: 0;
  padding: 0;
}
.google-book-card .card{
  max-width: 15em;
  margin: 0.5em 0;
  padding: 0;
}

.google-book-card .card-body{
  padding: 0.2em;
}

.book-details{
   width:40rem,
}

.book-details .img{
  width:12rem,
}

.book-details .card-body{
  padding: 0.2em;
}
.book-details .card-text{
  text-align: start;
  padding: 0 0.3em;
}

 



